.card-body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.body, input, form, select, button, textarea {
    font: inherit;
}


.card-body {
    padding: 2em;
    min-height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.create {
    flex: 0 1 600px;
    padding: 2em;
    background: #fff;
    border-radius: 0.1em;
    box-shadow: 0 0 1em 0 rgb(0,0,0,0.1);
}

.create header {
    padding-bottom: 4em;
}

.create input {
    display: block;
    width: 100%;
    line-height: 1;
}

.create .field {
    display: flex;
    flex-direction: column;
    color: #666;
    position: relative;
    margin-bottom: 2em;
}

.create .field label {
    order: -1;
    position: absolute;
    top: 1em;
    left: 0;
    line-height: 1;
    transition: transform 0.3s ease-in-out;
}

.create .field input {
    border: none;
    border-bottom: 2px solid #ccc;
    padding: 1em 0;
    outline: none;
}

.create .field input::placeholder {
    color: transparent;
}

.create .field input:not(:placeholder-shown) ~ label {
    transform: translateY(-1.5em);
    opacity: 1;
}

.create .field input:focus {
    border-color: orange;
}

.create .field input:focus ~ label {
    color: orange;
}
.create .field input:required ~ label::after {
    display: inline-block;
    content: '*';
    color: red;
    padding-left: 0.2em;
}


.button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
}

.button:active {
    background-color: #003d80;
}
