html {
    font: 14px/1.5 Lato, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Add some space between the card and the new fields */
}

.credit-card {
    width: 320px;
    height: 200px;
    border-radius: 10px;
    background: linear-gradient(135deg, #3b8d99, #6b8dce);
    color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-logo {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

    .card-logo img {
        width: 150px;
    }

.card-number {
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
}

.card-holder,
.card-expiry,
.card-cvv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .card-holder label,
    .card-expiry label,
    .card-cvv label {
        opacity: 0.8;
    }

button {
    border-radius: 1em;
    padding: 0.3em;
    border: none;
    background-color: rgba(255, 10, 10, 0);
    font-size: 10px;
    color: white;
}

.cardId {
    display: flex;
}

/* Styles for the new visit fields */
.visit-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.visit-field {
    background: #fff;
    color: #333;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 180px;
}

    .visit-field label {
        font-weight: bold;
        margin-right: 10px;
        color: #555;
    }

.in {
    display: flex;
    justify-content: space-between;
}

.cardV {
    display: flex;
}

.valid-dot {
    display: flex;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    margin-left: 10px;
}

.valid-yes {
    background-color: #24FF00; 
}

.valid-no {
    background-color: #ff0000; 
}
